/* Estilo base */
/* Estilo base */
.content-box {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* garante centralização horizontal */
}
  
  .btn-warning {
    font-weight: bold;
  }
  
  /* Slider */
.slider-bg {
  background: url('img/banner.png') no-repeat center center;
  background-size: cover;
  padding: 100px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh; /* opcional: deixa a altura da tela toda */
  text-align: center;
}
 /* Wrapper dos soldados */
.soldados-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.soldados-wrapper img {
    max-width: 120px;
    height: auto;
}
  
  /* Responsivo - Desktop */
@media (min-width: 968px) {
    .content-box {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: start;
    }

    .text-content {
        max-width: 50%;
    }

    .soldados-wrapper {
        justify-content: flex-end;
    }

    .soldados-wrapper img {
        max-width: 190px;
    }
}

@media (max-width: 968px) {
    .slider-bg {
        background-size: 100vw 100%;
    }
}


  